{{>partial/heads}}
                <!--topo do site-->
                           <form method="post">
                              <input type="text" name="bal" placeholder="buscar..." id="pesq">
                              <button>enviar</button>
                          </form>
                          <div class="display-open na">
                              {{>partial/balan}}
                          </div>

                        

{{>partial/foother}}