{{>partial/heads}}
                <!--topo do site-->
                          <div class="display-open">
                             <!--display-->
                             {{>partial/displayInput}}
                          </div>
{{>partial/foother}}