{{>partial/heads}}
                <!--topo do site-->
                          <div class="display-open n">
                             <!--display-->
                             {{>partial/registre}}
                          </div>
{{>partial/foother}}