{{>partial/heads}}
                <!--topo do site-->
                          <form method="get">
                              <input type="text" value="" name="list" placeholder=" pesquisar..." id="pesq">
                              <button>enviar</button>
                          </form>
                          <div class="display-open">
                             {{>partial/display}}
                              <div id="erro"></div>
                          </div>

                        

{{>partial/foother}}