{{>partial/heads}}
                <!--topo do site-->
                           <form method="get">
                              <input type="text" name="lis" placeholder=" pesquisar..." id="pesq">
                              <button>enviar</button>
                          </form>
                          <div class="display-open na">
                              {{>partial/update}}
                          </div>

                        

{{>partial/foother}}