{{>partial/auten}}
                <!--topo do site-->
                          <div class="display-open na">
                             <form method="post">
                                <input type="text" name="listal"/><br><br>
                                <input type="text" name="lista"/><br><br>
                                 <button>enviar</button>
                             </form>
                          </div>

                        

{{>partial/foother}}