.menu{
    display: flex;
    margin-top:2px;
    width: 950px;
}
.menu-name{
    height:30px;
    width:150px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-top-right-radius:7px;
    border-top-left-radius:7px;
    background-color: #545887;
    margin-left:5px;
    
}
.menu-name2{
    height:30px;
    width:146px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
    margin-top: 4px;
    font-weight: bold;
    font-family:  Verdana,Arial,sans-serif;
    
}
.menu-name:hover{
    border-top-right-radius:7px;
    border-top-left-radius:7px;
}