
            <div class="cidade"> 
                  <form method="post">    
                      {{#use}}    
                                <label for="">CIDADE</label>
                                <div class="registre"><input type="text" name="cidade" value=""/></div>
                                <label for="">RUA</label>
                                <div class="registre"><input type="text" name="rua" value=""/></div>
                                <label for="">IMPRESSORA</label>
                                <div class="registre"><input type="text" name="impressora"value=""/></div>
                                <label for="">CODE</label>
                                <div class="registre"><h3><input type="text" name="code" value=""/></div>
                           </div>
                           <div class="rua">
                             
                                <label for="">IP</label>
                                <div class="registre"><input type="text" name="ip" value=""/></div>
                                <label for="">MODELO</label>
                                <div class="registre"><input type="text" name="modelo" value=""/></div>
                                <label for="">STATUS</label>
                                <select class="registre" name="status" for="option" id="opc">
                                     <option value="0">em manutenção</option>
                                     <option value="1">funcionando</option>
                              </select>
                                <!---
                                <button class="sc-s">envar</button>
                                 -->
                                 <button class="sc-s">enviar</button>
                           </div>
                         {{/use}}
                  </form>