                 <!--divs de impremento-->
                 </div>
                <div class="display-sceach"></div>
                                
                                <!--divs de impremento-->
                            </div>
                                <!--meus dados apresentados na tela-->
                        </div>
                </div>
           </header>
        <footer class="rodape"><p>criado por elivandro lopes</p></footer>
        <script type="text/javascript" src="index.js"></script>
        <script ></script>
        <script type="text/javascript" src="quagga.min.js"></script>
    </body>
</html>