<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    </head>
    <body>
            <header class=" main">
                <!--topo do site-->
                <div class="container-tpo">
                    <div class="log">
                        <h3 class="relogio" id="boh">00:00:00</h3>
                        <img src="./img/menu_trop.png" onclick=" menutrop()" class="img_menu"/>

                        </button>
                    </div>
                    <div class="input">
                </div>
                </div>
                <div class="container-int">
                    {{>partial/menu}}
                <div class="display-main">
                        <!--meus dados apresentados na tela-->
                    <div class="slide-text">
                        <div class="display-user">
                            <h3>seja bem-vindo(a)</h3>
                            <form method="get" action="">
                                <!---
                                <button class="sc-s">envar</button>
                                 -->
                                 <button class="sc-s">envar</button>
                                 </form>
                          </div>
                
