<div class="menu">  
                        <img src="./img/menux.jpg" onclick="menutrop()"class="img_trop"/>
                        <div class="menu-tp">
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <a class="confi" href="/registrar">cadastro</a>
                                </div>
                            </div>
                            <div class="menu_1"  href="www.google.com">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <div class="confi" >pesquisa</div>
                                </div>
                            </div>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <div class="confi">manutenção</div>
                                </div>
                            </div>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <div class="confi">balança</div>
                                </div>
                            </div>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <div class="confi">configuracao</div>
                                </div>
                            </div>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt=""/>
                                <div class="confi">relatorio</div>
                                </div>
                            </div>
                        </div>
                </div>