<div class="menu">  
                    <img src="./img/menux.jpg" onclick="menutrop()"class="img_trop"/>
                    <div class="menu-tp">
                           <a href="/"><div class="menu_1">
                              <div class="image">
                                    <img src="./img/home.png" alt=""/>
                                    <p class="confi">pagina inicial</p>
                                </div>
                               </div>
                            </a>
                             <a href="/registrar"><div class="menu_1">
                              <div class="image">
                                    <img src="./img/registro.png" alt="">
                                    <p class="confi">cadastro</p>
                                </div>
                              </div>
                            </a>
                            <a href="/search"><div class="menu_1" href="/search">
                                <div class="image">
                                  <img src="./img/lupa.png" alt=""/>
                                    <p class="confi">pesquisa</p>    
                                </div>
                            </div></a>
                           <a href="/update"> <div class="menu_1">
                                <div class="image">
                                    <img src="./img/refresh.png" alt="">
                                    <p class="confi">atualizar</p>
                                  </div>
                                </div>
                            </a>
                            <a href="/balancas"><div class="menu_1">
                                <div class="image">
                                    <img src="./img/balanca.png" alt="">
                                    <p class="confi">balança</p>
                                </div>
                             </div>
                            </a>
                            <a href="##"><div class="menu_1">
                                <div class="image">
                                    <img src="./img/configuracao.png" alt="">
                                    <p class="confi">configuracao</p>
                                </div>
                            </div>
                            </a>
                            <a href="/"><div class="menu_1">
                                <div class="image">
                                    <img src="./img/##.png" alt=""/>
                                    <p class="confi"> </p>
                                </div>
                            </div>
                            </a>
                        </div>
                </div>