<div class="menu">  
                        <img src="./img/menux.jpg" onclick="menutrop()"class="img_trop"/>
                        <div class="menu-tp">
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <a class="confi" href="/registrar">cadastro</a>
                                </div>
                            </div>
                            <a href="/search"><div class="menu_1" href="/search">
                                <div class="image">
                                  <img src="./img/computador.png" alt=""/>
                                <p class="confi">pesquisa</p>    
                                </div>
                            </div></a>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <div class="confi">
                                <a class="confi" href="/update">atualizar</a>
                                </div>
                                </div>
                            </div>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <div class="confi">balança</div>
                                </div>
                            </div>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt="">
                                <div class="confi">configuracao</div>
                                </div>
                            </div>
                            <div class="menu_1">
                                <div class="image">
                                <img src="./img/computador.png" alt=""/>
                                <div class="confi">
                                <a class="confi" href="/">pagina inicial</a>
                                </div>
                                </div>
                            </div>
                        </div>
                </div>